.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
  margin: auto;
  border-spacing: 0px;
  border-style: groove;
  border-width: 20px;
  border-color: #bfbebe;
}

.board td {
  border: 1px solid #1f1f1f;
  width: 60px;
  height: 60px;
  /* border-style: groove; */
  background: #9d9d9d;
}

.board td.active {
  background-color: rgb(209, 23, 23);
}
